<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class = "container text-center">
 <h1>Password Generator</h1>
 <form action ="password">
    <select name = 'length'>
    <option value ="6">6 char long</option> 
    <option value = "7">7 char long</option>
    <option value = "8">8 char long</option>
    <option value = "9">9 char long</option>
    <option value = "10">10 char long</option>
    <option value = "12" selected = "selected">12 char long</option>
    <option value = "14">14 char long</option>
    
    </select> length
    <br>
    <input type = "checkbox" name = "Numbers"> Numbers
    <br>
    <input type = "checkbox" name = "UpperCase"> Uppercase
    <br>
    <input type = "checkbox" name = "specialCharacters"> special characters
    <br>

    <input type ="submit" value ="generate password" class = "btn btn-success">
 </form>
</div>